@CHARSET "UTF-8";

/** Calendar Title **/
h3 {
	color: #2A3F54;
}

/** Calendar Navigator **/
.cal-nav-tabs {
	margin: 0;
	border-bottom: 1px solid #E6E9ED;
}

.cal-nav-tabs > div {
	color: #2A3F54;
	border: 1px solid transparent;
	padding: 0;
	text-align: center;
}

.cal-nav-tabs > div:hover,
.cal-nav-tabs > div:focus {
	border: 1px solid #E6E9ED;
	border-radius: 4px 4px 0 0;
	font-style: bold;
}

.cal-nav-tabs > div.active,
.cal-nav-tabs > div.active:hover,
.cal-nav-tabs > div.active:focus {
	color: #2A3F54;
	border: 1px solid #E6E9ED;
	border-radius: 4px 4px 0 0;
	border-bottom-color: transparent;
	text-align: center;
	background-color: #FFFFFF;
}

.cal-nav-tabs > div > a {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 13px 15px 12px;
}

/** Calendar **/
.calendar-wrap {
	margin-top: -2px;
	border: 1px solid #E6E9ED;
	padding: 15px;
	background-color: #FFFFFF;
}

.calendar-list {
	display: block;
}
.calendar-monthly {
	display: none;
}
.calendar-show-month {
	padding-right: 5px;
	padding-left: 5px;
	color: #2A3F54;
	font-size: 150%;
	font-weight: bold;
	display: inline-block;
}
.calendar-show-today,
.calendar-show-month-prev,
.calendar-show-month-next {
	margin: 0;
	font-size: 80%;
}
.calendar-monthly > .table-responsive > table > thead > tr > th {
	width: calc(100% / 7);
}

.calendar-weekly {
	display: none;
}
.calendar-daily {
	display: none;
}