
@charset "UTF-8";
.member {
    margin: 0 auto;
    width: 702px;
}
.member .ing_status {
    height: 107px;
    padding: 0 0 6px;
    width: 702px;
}
.member .h2 {
    height: 14px;
    padding: 13px 0 10px;
    width: 100%;
}
.member .gray_box {
    border: 1px solid #BEBFC2;
    height: 230px;
    overflow: auto;
    padding: 10px;
}
.member .check_text {
    height: 18px;
    padding: 13px 0 25px;
    width: 100%;
}
.member .ing_status2 {
    background: url("../Images/template/member_title04_bg.jpg") repeat scroll 0 0 transparent;
    height: 159px;
    width: 702px;
}
.member .ing_status2 p {
    font-weight: bold;
    left: 500px;
    position: absolute;
    top: 400px;
}
.member .ing_status3 {
    background: url("../Images/template/member_title02_bg.jpg") repeat scroll 0 0 transparent;
    height: 221px;
    width: 702px;
}
table.type01 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C1C4;
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
}
table.type01 th, table.type01 td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C0C1C4;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0 0;
    padding: 5px 8px;
}
table.type01 th.blue_tlte {
    background: none repeat scroll 0 0 #6986D9;
    height: 28px;
    text-align: center;
}
table.type01 th.white {
    background: none repeat scroll 0 0 #6986D9;
    color: #FFFFFF;
    font-weight: bold;
    height: 24px;
    text-align: left;
}
table.type01Comment {
    background: none repeat scroll 0 0 #FFFFFF;
	
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
    border-top : 2px solid #C7C7C7;
    border-bottom: 2px solid #C7C7C7;
}
table.type01Comment th, table.type01Comment td {
  
   /* border-style: solid;	*/
 
    padding: 5px 8px;
   border-bottom : 1px solid #dfdfdf;
}
table.type01Comment th
{
	border-right : 1px solid #dfdfdf;
	 border-left-style: solid solid solid none;
}
table.type01Comment th:nth-child(3)
{
	border-left : 1px solid #dfdfdf;
}
table.type01Comment th.whiteComment {
    background: none repeat scroll 0 0 #f9f9f9;
    color: #666666;
    font-weight: normal;
    height: 24px;
    text-align: left;
}
table.type01Comment td.whiteComment {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 24px;
}
input.grayComment {
    background: none repeat scroll 0 0 #F2F2F3;
    border: 1px solid #C9C9C9;
    height: 16px;
}
input.noboxComment {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 16px;
    color:#666666;
}
table.type01 th.whitecenter {
    background: none repeat scroll 0 0 #6986D9;
    color: #666666;
    font-weight: bold;
    height: 24px;
    text-align: center;
}

table.type01 td.white {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 24px;
}
table.type01 th.white35 {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    height: 35px;
    text-align: center;
}
table.type01 td.white35 {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 35px;
}
table.type04 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C1C4;
    border-collapse: collapse;
    width: 100%;
}
table.type04 th, table.type04 td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C0C1C4;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0 0;
    padding: 3px 6px 2px;
}
table.type04 th.blue_tlte {
    background: none repeat scroll 0 0 #5E6AE1;
    height: 28px;
    text-align: center;
}
table.type04 th.white {
    background: none repeat scroll 0 0 #5E6AE1;
    color: #FFFFFF;
    font-weight: bold;
    height: 24px;
    text-align: left;
}
table.type04 th.whitecenter {
    background: none repeat scroll 0 0 #5E6AE1;
    color: #FFFFFF;
    font-weight: bold;
    height: 24px;
    text-align: center;
}
table.type04 td.white {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 24px;
}
table.type04 th.white35 {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    height: 35px;
    text-align: center;
}
table.type04 td.white35 {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 35px;
}
table.type05 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C1C4;
    border-collapse: collapse;
    width: 100%;
}
table.type05 th, table.type05 td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C0C1C4;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0 0;
    padding: 3px 6px 2px;
}
table.type05 th.blue_tlte {
    background: none repeat scroll 0 0 #3D5EBD;
    height: 28px;
    text-align: center;
}
table.type05 th.white {
    background: none repeat scroll 0 0 #3D5EBD;
    color: #FFFFFF;
    font-weight: bold;
    height: 24px;
    text-align: left;
}
table.type05 th.whitecenter {
    background: none repeat scroll 0 0 #3D5EBD;
    color: #FFFFFF;
    font-weight: bold;
    height: 24px;
    text-align: center;
}
table.type05 td.white {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 24px;
}
table.type05 th.white35 {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    height: 35px;
    text-align: center;
}
table.type05 td.white35 {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 35px;
}
table.type03 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #C0C1C4;
    border-collapse: collapse;
    margin: 3px 0;
    width: 100%;
}
table.type03 th.blue_txt {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #3D5EBD;
    font-weight: bold;
    text-align: left;
}
table.type03 td.white_txt {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #C0C1C4;
    text-align: left;
}
table.type03 td.white_day {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #C0C1C4;
    text-align: right;
}
table.type03 td.blue_txt span {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 100px -30px 0;
}
table.type02 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #C0C1C4;
    border-collapse: collapse;
    margin: 3px 0;
    width: 100%;
}
table.type02 th, table.type02 td {
    border: 0 solid #C0C1C4;
    padding: 3px 6px 2px;
}
table.type02 th.blue_tlte {
    background: none repeat scroll 0 0 #819DEB;
    height: 28px;
    text-align: center;
}
table.type02 th.white {
    background: none repeat scroll 0 0 #819DEB;
    font-weight: bold;
    height: 24px;
    text-align: left;
}
table.type02 td.white {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 24px;
}
table.type02 th.white35 {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    height: 35px;
    text-align: center;
}
table.type02 td.white35 {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 35px;
}
input.gray {
    background: none repeat scroll 0 0 #F2F2F3;
    border: 1px solid #C9C9C9;
    height: 16px;
}
input.nobox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 16px;
}
.validator {
    color: Red;
}
.button {
    padding: 13px 0 10px;
    width: 100%;
}
.alignRight {
    text-align: right;
}
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.title_02_01_01 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 65px;
    margin: 0 auto;
    position: relative;
    width: 702px;
    top: 0px;
    left: 0px;
}
.title_02_01_01_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_02_01_01 div {
    margin: 0 0px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_02_02_01 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_02_02_01_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_02_02_01 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_01_01 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_01_01_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_01_01 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_01_02 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_01_02_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_01_02 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_01_03 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_01_03_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_01_03 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_01_04 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_01_04_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_01_04 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_02_01 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_02_01_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_02_01 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_02_02 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_02_02_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_02_02 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_02_03 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_02_03_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_02_03 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_03_01 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_03_01_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_03_01 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_03_02 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_03_02_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_03_02 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_03_03 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_03_03_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_03_03 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.title_04_03_04 {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_03_04_ov {
    background: url("../Images/subpage/subtitle_line.jpg") no-repeat scroll center bottom transparent;
    height: 35px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.title_04_03_04 div {
    margin: 0 28px -30px 0;
    padding-top: 0;
    text-align: right;
}
.altText {
    line-height: 2em;
    padding: 25px 15px;
}
.search {
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}
.search table {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    border-collapse: collapse;
    margin: 3px 0;
    width: 100%;
}
.search table th.search_white {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    height: 25px;
    text-align: left;
}
.search table td.search_white {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 25px;
}
.search_List {
    left: 257px;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    top: 35px;
    width: 500px;
    height: 64px;
}
.search_List table {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background: #FFFFFF 0 0;
    border-collapse: collapse;
    margin: 0px 0 3px 0;
    width: 100%;
}
.search_List table th.search_white {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    height: 25px;
    text-align: left;
}
.search_List table td.search_white {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 25px;
}
.search_list {
    background-image: url("../Images/template/search_bg.jpg");
    background-repeat: no-repeat;
    height: 57px;
    position: relative;
    width: 702px;
}
.search_textbox {
    left: 30px;
    position: absolute;
    top: 17px;
    width: 500px;
}
.search_btn {
    height: 21px;
    left: 540px;
    position: absolute;
    top: 17px;
    width: 64px;
}
.type06 table {
    left: 10px;
    position: relative;
    top: 80px;
}
.type06 table th {
    font-weight: bold;
    text-align: left;
}
.type06 table th {
    text-align: left;
}
.archive_title_01 {
    background: url("../Images/template/archive_title.jpg") no-repeat scroll left top transparent;
    height: 32px;
    margin: 0 auto;
    position: relative;
    width: 702px;
}
.btn_rss {
    left: 600px;
    position: absolute;
    top: 15px;
}
.btn_again {
    left: 650px;
    position: absolute;
    top: 530px;
}
table.type01 th > table > tbody > tr > th, table.type01 td > table > tbody > tr > td {
    border: 0 solid #C0C1C4;
    padding: 5px 8px;
}
#MainContent_divFile a {
    display: block;
    height: 21px;
    width: 400px;
}
.ArchiveYear_title
{
	background:url("../Images/subpage/subtitle_menuicon.jpg") no-repeat scroll left top transparent;
	
	margin:20px 0 0 0;
	padding:0 0 0 15px;
	position:relative;
	
}
.ArchiveYear
{
	background:none repeat scroll 0 0 transparent;
	color:#4666C4;
	font-size:12px;
	font-weight:bold;
	line-height:1.19;
	margin:0;
	white-space:nowrap;
	font-family:Tahoma,µ¸¿ò,Dotum,sans-serif;
	font-style:normal;
}