@charset "UTF-8";

#idxUnit {
margin: 0 0 5px 0;
padding: 0;
width: 100%;
text-align: right;
color: #113ab1;
}

#idxTitle {
    height: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

#idxTitle > #idxUnit {
    color: #113AB1;
    margin: 0 0 5px;
    padding: 0;
    right: 0;
    text-align: right;
    width: 100%;
}

#idxTitle > span {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.idxTable {
    background-color: White;
    border: 0 none;
    border-collapse: separate !important;
    color: Black;
    table-layout: fixed;
    empty-cells: show;
    overflow: hidden;
    width: 100%;
}
.idxTable thead tr {
    background-color: #6986D9;
    border-color: #C0C1C4;
    border-left-width: 0;
    border-top-width: 0;
    color: White;
    cursor: default;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.idxTable thead tr th {
	color:#113ab1;
	border-style:Solid;
	font-weight:bold;
	text-align:Center;
	vertical-align:Middle;
	border-top:1px solid #3e5fbd;
	border-left:0px solid #dedede;
	border-right:1px solid #dedede;
	border-bottom:1px solid #dedede;
	cursor:default;
	background: linear-gradient(to bottom, #FDFDFD 0%, #F3F3F3 50%, #FDFDFD 100%) repeat scroll 0 0 transparent;
    cursor: pointer;
    font-weight: normal;
    overflow: hidden;
    padding: 1px auto 1px 0px;
    white-space: nowrap;
	background-color:#F5F5F5;
}
.idxTable thead tr td {
	color:#113ab1;
	border-style:Solid;
	font-weight:bold;
	text-align:Center;
	vertical-align:Middle;
	border-top:0px solid #3e5fbd;
	border-left:0px solid #dedede;
	border-right:1px solid #dedede;
	border-bottom:1px solid #dedede;
	cursor:default;
	background: linear-gradient(to bottom, #FDFDFD 0%, #F3F3F3 50%, #FDFDFD 100%) repeat scroll 0 0 transparent;
    cursor: pointer;
    font-weight: normal;
    overflow: hidden;
    padding: 4px 6px 5px;
    white-space: nowrap;
	background-color:#F5F5F5;
}
.idxTable tbody tr td {
    border-color: -moz-use-text-color #CFCFCF #CFCFCF -moz-use-text-color;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    padding: 1px auto 1px 0px;
	border-top:0px solid #dedede;
	border-left:0px solid #dedede;
	border-right:1px solid #dedede;
	border-bottom:1px solid #dedede;
}
.idxTable .cen {
    text-align: center;
    width:200px;
}
.idxTable .right {
    text-align: right;
}
.idxTable caption {
    overflow: hidden;
    visibility: hidden;
}
.up {
    color : Red;
}
.down {
    color : Blue;
}
.up a {
    color : Red;
}
.down a {
    color : Blue;
}



#searchBox{
	padding:10px;
	height:50px;
}
#searchBox > div {
}
#searchBox > div > a {
}
#searchBox_01{
	float:left;
	width:50%;
	margin-right:5%;
	display:block;
}
#searchBox_01 > div > ul > li > a {
	float:left;
	width:21%;
	border-radius:10px 10px 0 0;
	background-color:#f9f9f9;
	color:#555555;
	border-color:#c3c3c3;
	border:1px solid #c3c3c3;
	margin-right:3px;
}
#searchBox_01 > div > ul > li > a:hover{
	float:left;
	width:21%;
	border-radius:10px 10px 0 0;
	background-color:#3657b9;
	color:#fff;
	text-decoration:none;	
	border:1px solid #214ed5;
	margin-right:3px;
}
#searchBox_02{
	margin-left:5px;
	width:100%;
	display:block;
}
#searchBox_02 > div > ul > li > a{ 
	float:left;
	width:21%;
	border-radius:10px 10px 0 0;
	background-color:#f9f9f9;
	color:#555555;
	border:#c3c3c3;
	border:1px solid #c3c3c3;
	margin-right:3px;
}
#searchBox_02 > div > ul > li > a:hover{ 
	float:left;
	width:21%;
	border-radius:10px 10px 0 0;
	background-color:#3657b9;
	color:#fff;
	border-color:#c3c3c3;
	text-decoration:none;	
	border:1px solid #214ed5;
	margin-right:3px;
}

#cal
{
    z-index:100;       
}

/* Yangwenry �۾�
.idxTable
{
    background-color: White;
    border: 0;
    border-collapse: separate!important;
    overflow: hidden;
    color: Black;
    border-style:None;
    width:100%;
    border-collapse:collapse;
    empty-cells:show;
    table-layout:fixed;
}
.idxTable thead tr
{
    color:White;
    background-color:#6986D9;
    border-color:#C0C1C4;
    font-weight:bold;
    text-align:Center;
    vertical-align:Middle;
    border-left-width:0px;
    border-top-width:0px;
    cursor:default;
}
.idxTable tbody tr td
{
    overflow: hidden;
    border-bottom: Solid 1px #CFCFCF;
    border-right: Solid 1px #CFCFCF;
    border-top: 0;
    border-left: 0;
    padding: 3px 6px 4px 6px;
}
.idxTable .cen
{
    text-align: center;
}
.idxTable .right
{
    text-align: right;
}
*/
