@charset "UTF-8";

/* Tag Template ***********************************************************************/

/* Tag Definition */

body { color: #555; font-size: 75%; font-family: Tahoma, Dotum, "µ¸¿ò", sans-serif; line-height: 1.58; }
table, pre { font-size: 1em; font-family: Tahoma, Dotum, "µ¸¿ò", sans-serif; line-height: 1.58; }
a, a:link { color: #06c; text-decoration: none; cursor: pointer; }
a:visited { color: #369; }
a:hover, a:active, a:focus { color: #590; text-decoration: underline; } 

#head h1 { margin: 0; padding: 0; } 
#head h2, #sidebar h2, #body_head h2, #body_foot h2, #foot h2, #wing h2 { margin: 0; padding: 0; } 

h1 {/* width: auto; height: auto; margin: 0; padding: 0; background: transparent; */ }
h2 {/* width: auto; height: auto; margin: 1em 0; padding: 0 0 0 16px; background: transparent url(../images/board/h2bg.gif) no-repeat 0 0; color: #333; font-weight: bold; font-size: 1em; letter-spacing: -1px; line-height: 1.25; */}
h3 {/* width: auto; height: auto; margin: 1em 0; padding: 0 0 0 16px; background: transparent url(/img/inc/h3bg.gif) no-repeat 0 0.08em; color: #6a0; font-weight: bold; font-size: 1em; letter-spacing: -1px; line-height: 1.25; */ }
h4 {/* width: auto; height: auto; margin: 1em 0; padding: 0 0 0 14px; background: transparent url(/img/inc/h4bg.gif) no-repeat 0 0.08em; color: #444; font-weight: bold; font-size: 1em; letter-spacing: -1px; line-height: 1.25; */ }
h5 {/* width: auto; height: auto; margin: 1em 0; padding: 0 0 0 14px; background: transparent url(/img/inc/h5bg.gif) no-repeat 0 0.08em; color: #555; font-weight: bold; font-size: 1em; letter-spacing: -1px; line-height: 1.25; */ }
h6 {/* width: auto; height: auto; margin: 1em 0; padding: 0 0 0 14px; background: transparent url(/img/inc/h6bg.gif) no-repeat 0 0.08em; color: #666; font-weight: bold; font-size: 1em; letter-spacing: -1px; line-height: 1.25; */ }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { color: #555; font-weight: normal; }

.h0 { clear: left; margin: 0; padding: 0; background: transparent; font-weight: normal; font-size: 1em; }


/* Body Content Template ***********************************************************************/
