@charset "utf-8";
/* 1024 info */
p.tit.on {font-style:normal; background:url(../../images/tit_bar.jpg) 4px 50px no-repeat; border-bottom:3px solid #3a424f; margin-bottom:20px; padding-top:58px; font-size:2em; font-family:'나눔명조'; padding-bottom:6px;}
	
.in {width:100%; min-height:100%; overflow:hidden; margin-bottom:20px;  position:relative; background:#fff;}
.in_wp {width:80%; margin:0 auto;}
 .us li {display:inline-block; float:left; height:50px; line-height:50px; border-bottom:1px solid #d6dde3;  font-size:.9em;}
 	.us li input {color:#000;}
 .us li.th {width:18%; padding-left:2%;}
 	.us li.th.on, .us li.td.on {background:#fcfdff;}
 .us li.td {width:30%;}
 .us li.tds {width:80%;}
 	.us li.th.on1, .us li.tds.on {background:#f5f5f5;}			
	.us li input {vertical-align:middle; padding:8px 2px; width:60%; border:1px solid #9a9b9f;}
	.us li.tds.on input, .us li.tds span input {width:40%;}	
		 			
 	.us li.tds.ca p {display:block; float:left; margin:0;}
		p.nat {width:15%;}
			p.nat select {width:100%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}	
		.us li.tds.ca p.call {width:84%; padding-left:1%}					
			.us li.tds.ca p.call input {width:20%;}
			.us li.tds.ca p.call select {width:15%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}
	
		
	.us li.tds span.ch_btn {
		padding:8px 25px;
		vertical-align:middle; 
		background:#f5f5f5; 
		border:1px solid #c7cbce; 
		color:#c7cbce; 
		font-weight:800;
		font-size:.85em;
		-moz-border-radius:.4em;
		border-radius:.4em;
		cursor: pointer;		
		}	
		
	.us li.tds span.ch_btn.on {
		background:url(../../images/ch_img.png) no-repeat center right 5px #fff; 
		border:1px solid #245eb2; 
		color:#245eb2; 	
		padding:8px 35px 8px 25px;		
		}				 

.btns {display:block; text-align:right; padding-bottom:40px; width:80%; margin:0 auto;}
.btns span {
	display:inline-block; 
	font-size:1.2em; 	
	border-top-left-radius:2em; 
	border-bottom-left-radius:2em; 
	border-bottom-right-radius:2em;
	padding:1.2% 3%; 	
	}

	.btns span.commit {background:#265d9e; color:#fff; cursor: pointer;}
	.btns span.commit a {color:#fff;}
	
.ft {width:100%; text-align:center; background:#303d4d; padding:1% 0; font-size:.85em; color:#adb2b8; bottom:0; position:fixed;}

.us_tit {display:none;}	
.top {display:none;}

		
@media screen and (max-width:1000px){	
.info {display:none;}
.info.u {display:none;}
.header.u {display:none;}
.nav.u {display:none;}
.date {display:none;}

info_m {display:block;}

.us_tit {width:100%; height:70px; line-height:70px; background:#4173bc; text-align:center; color:#fff; font-size:1.6em; overflow:hidden; display:inline-block; margin:0;}
	.us_tit img {vertical-align:middle; padding-right:2%;}
	.us_tit span {float:left; width:9%; background:#458acf; text-align:center;}		
	.us_tit span img {width:60%;}	

table.us {width:100%;}
	table.us tbody tr th, table.us tbody tr td {border-bottom:1px solid #d6dde3; padding:20px 0; text-align:left;}
		table.us tbody tr th {width:48%; padding-left:2%; display:block;}
		table.us tbody tr td {width:50%; }
		
.in {width:100%; overflow:hidden; display:inline-block;}
.in_wp {width:100%;}		
.us {width:100%; padding:0; overflow:hidden;}
 .us li {display:block; float:left; height:60px; line-height:60px; border-bottom:1px solid #d6dde3;}
 .us li.th {width:22%; padding-left:3%;}
 .us li.td {width:75%;}
 .us li.tds {width:75%;}
	.us li input {width:70%;}
	.us li.tds.on input, .us li.tds span input {width:70%;}
	.us li.tds .call input {width:20%;}		 

 	.us li.tds.ca p {display:block; float:left;}
		p.nat {width:20%;}
			p.nat select {width:100%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}	
		.us li.tds.ca p.call {width:79%; padding-left:1%}					
			.us li.tds.ca p.call input {width:21%;}
			.us li.tds.ca p.call select {width:18%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}

 .us li.th.p {width:22%; min-height:100px; line-height:100px;}
 .us li.tds.p {width:75%; min-height:80px; display:block; line-height:28px; padding-top:20px;}
  .us li.tds.p span{display:block; color:#aaa;}
  	.us li.tds.p span b{color:#1153EC;}

		 	 
.btns {display:block; margin-top:2%; text-align:center; padding-bottom:40px; padding-right:1%; width:98%;}	 
.btns span {
	display:inline-block; 
	font-size:1.6em; 	
	border-top-left-radius:2em; 
	border-bottom-left-radius:2em; 
	border-bottom-right-radius:2em;
	padding:3% 10%; 	
	}
	
.ft {font-size:.8em; padding:1% 0; position:relative;}		 		
}

@media screen and (max-width:780px){	
.info.u {display:none;}
.header.u {display:none;}
.nav.u {display:none;}
	
.us_tit {width:100%; height:65px; line-height:65px;  text-align:center; color:#fff; font-size:1.6em; overflow:hidden; display:block; float:left;}
	.us_tit img {vertical-align:middle; padding-right:2%; width:5%;}
	.us_tit span {float:left; width:10%; text-align:center;}		
	.us_tit span img {width:55%;}	
		
 	.us li.th.ca {min-height:100px; line-height:100px;}	
	.us li.tds.ca {min-height:90px; line-height:40px; padding-top:10px;}	
 	.us li.tds.ca p {display:block;}
		p.nat {width:80%;}
			p.nat select {width:40%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}	
		.us li.tds.ca p.call {width:100%; padding:0;}					
			.us li.tds.ca p.call input {width:30%;}
			.us li.tds.ca p.call select {width:30%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}

.top {width:8%; position:absolute; display:block; position:fixed; bottom:5%; z-index:400; right:0; padding-right:2%;}

.ft {position:relative;}

}

@media screen and (max-width:640px){
.us_tit {width:100%; height:70px; line-height:70px; text-align:center; color:#fff; font-size:1.8em; overflow:hidden; display:block;}
	.us_tit img {vertical-align:middle; padding-right:2%; width:6%;}
	.us_tit span {float:left; width:12%; text-align:center;}		
	.us_tit span img {width:57%;}	
				
.us {width:100%; padding:0; overflow:hidden;}
 .us li {display:block; float:left; height:60px; line-height:60px; border-bottom:1px solid #d6dde3;}
 .us li.th {width:30%;}
 .us li.td {width:66%;}
 .us li.tds {width:66%; display:block;}

 	.us li.th.ca {min-height:100px; line-height:100px;}	
	.us li.tds.ca {min-height:90px; line-height:40px; padding-top:10px;}	
 	.us li.tds.ca p {display:block;}
		p.nat {width:80%;}
			p.nat select {width:40%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}	
		.us li.tds.ca p.call {width:100%; padding:0;}					
			.us li.tds.ca p.call input {width:28%;}
			.us li.tds.ca p.call select {width:28%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}


 .us li.th.p {width:30%; min-height:100px; line-height:100px;}
 .us li.tds.p {width:66%; min-height:80px; display:block; line-height:28px; padding-top:20px;}
  .us li.tds.p span{display:block; color:#aaa;}
  	.us li.tds.p span b{color:#1153EC;}

			 
	.us li.tds span.ch_btn {
		padding:8px 25px;
		vertical-align:middle; 
		background:#f5f5f5; 
		border:1px solid #c7cbce; 
		color:#c7cbce; 
		font-weight:800;
		font-size:.85em;
		-moz-border-radius:.4em;
		border-radius:.4em;		
		}	
		
	.us li.tds span.ch_btn.on {
		background:url(../../images/ch_img.png) no-repeat center right 5px #fff; 
		border:1px solid #245eb2; 
		color:#245eb2; 	
		padding:8px 35px 8px 25px;		
		}	
		
	.us li input, .us li.tds.on input {width:90%;}
	.us li.tds span input {width:65%;}

.top {width:9%;}
		
}

@media screen and (max-width:480px){
.info {display:none;}
.header {display:none;}
.nav {display:none;}
.date {display:none;}

.us_tit {width:100%; height:50px; line-height:50px;  text-align:center; color:#fff; font-size:1.4em; overflow:hidden; display:block;}
	.us_tit img {vertical-align:middle; padding-right:2%; width:7%;}
	.us_tit span {float:left; width:12%; text-align:center;}		
	.us_tit span img {width:50%;}	
			
/* date */	
.us {width:100%; padding:0; overflow:hidden;}
 .us li {display:block; float:left; height:50px; line-height:50px; border-bottom:1px solid #d6dde3; font-size:.85em;}
 .us li.th {width:36%;}
 .us li.td {width:60%;}
 .us li.tds {width:60%;}
 
 	.us li.th.ca {min-height:100px; line-height:100px;}	
	.us li.tds.ca {min-height:90px; line-height:40px; padding-top:10px;}	
 	.us li.tds.ca p {display:block;}
		p.nat {width:80%;}
			p.nat select {width:80%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle;}	
		.us li.tds.ca p.call {width:100%; padding:0;}					
			.us li.tds.ca p.call input {width:24%;}
			.us li.tds.ca p.call select {width:31%; padding:8px 1px; border:1px solid #9a9b9f; vertical-align:middle;} 	
 
 
  .us li.th.e {min-height:120px; line-height:100px;}
  .us li.tds.e {width:56%; min-height:120px;}
  .us li.tds.e span {display:block;}


 .us li.th.p {width:36%; min-height:100px; line-height:100px;}
 .us li.tds.p {width:60%; min-height:80px; display:block; line-height:28px; padding-top:20px;}
  .us li.tds.p span{display:block; color:#aaa;}
  	.us li.tds.p span input{width:90%;}
  	.us li.tds.p span b{color:#1153EC;}


  	.us li.tds.e span.ch_btn {
		height:40px;
		line-height:40px;
		vertical-align:middle; 
		background:#f5f5f5; 
		border:1px solid #c7cbce; 
		color:#c7cbce; 
		font-weight:600;
		font-size:1.2em;
		-moz-border-radius:.4em;
		border-radius:.4em;
		display:inline-block;
		}	

  	.us li.tds.e span.ch_btn.on {
		background:url(../../images/ch_img.png) no-repeat center right 10px #fff; 
		border:1px solid #245eb2; 
		color:#245eb2; 	
		padding:3px 38px 3px 25px;	
		}	
		
	.us li input, .us li.tds.on input {width:90%;}
	.us li.tds .call input {width:22%;}	
    .us li.tds.e span input {width:90%;}	

.top {width:10%;}

.ft {font-size:.7em; padding:1.5% 0;} 

}

@media screen and (max-width:320px){
.info {display:none;}
.header {display:none;}
.nav {display:none;}
.date {display:none;}

.us_tit {width:100%; height:50px; line-height:50px;  text-align:center; color:#fff; font-size:1.2em; overflow:hidden; display:block;}
	.us_tit img {vertical-align:middle; padding-right:2%; width:9%;}
	.us_tit span {float:left; width:18%;  text-align:center;}		
	.us_tit span img {width:50%;}	
		
 	.us li.th.ca {min-height:100px; line-height:100px;}	
	.us li.tds.ca {min-height:90px; line-height:40px; padding-top:10px;}	
 	.us li.tds.ca p {display:block;}
		p.nat {width:98%;}
			p.nat select {width:100%; padding:8px 2px; border:1px solid #9a9b9f; vertical-align:middle; font-size:.85em;}	
		.us li.tds.ca p.call {width:100%; padding:0;}					
			.us li.tds.ca p.call input {width:22%;}
			.us li.tds.ca p.call select {width:32%; padding:8px 1px; border:1px solid #9a9b9f; vertical-align:middle;} 	


 .us li.th.p {width:36%; min-height:100px; line-height:100px;}
 .us li.tds.p {width:60%; min-height:80px; display:block; line-height:28px; padding-top:20px;}
  .us li.tds.p span{display:block; color:#aaa; font-size:.9em;}
  	.us li.tds.p span input{width:90%;}
  	.us li.tds.p span b{color:#1153EC;}
	
	
.btns span {
	display:inline-block; 
	font-size:1.4em; 	
	border-top-left-radius:2em; 
	border-bottom-left-radius:2em; 
	border-bottom-right-radius:2em;
	padding:4% 15% 5% 15%; 
	}
	
.top {width:15%;}	

.ft {padding:2% 0;}	

}









